body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    color: #1fa58f;
    padding: 10px 20px;
    box-sizing: border-box;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    color: #1fa58f;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 0;
}

.transparent {
    position: center;
    text-align: left;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    max-height: 600px;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: black;
    background: rgba(255, 252, 252, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}


.button {
    background-color: #1fa58f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-box {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
}


.content-image {
    width: 40%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1fa58f;
    color: white;
    margin-top: 20px;
}
