body {
    font-family: Arial, sans-serif;
    padding: 1px;
    background-color: white;
    color: #333;
}

header {
    background-color: white;
    color: white;
    padding: 1em 0;
    text-align: center;

}
.red-strip {
    background-color: rgb(238, 87, 87);
    color:black;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
}

main {
    padding: 20px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.search-box{
    background-color: white;
    padding: 0.1px;
    color:#adadad;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 40px);
    max-width: calc(33% - 40px);
}
.box {
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    max-width: calc(33% - 40px); 
}

.box h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}